@import '@fontsource/apfel-grotezk';
@import '@fontsource/cormorant/300.css';
@import '@fontsource/cormorant/300-italic.css';
@import '@fontsource/cormorant/400.css';
@import '@fontsource/cormorant/400-italic.css';

@import 'tailwindcss';

@font-face {
	font-family: Apfel Grotezk Brukt;
	src:
		url('$lib/fonts/ApfelGrotezk-Brukt.woff2') format('woff2'),
		url('$lib/fonts/ApfelGrotezk-Brukt.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Evolventa;
	src: url('$lib/fonts/Evolventa-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@theme {
	--breakpoint-xs: 390px;
	--color-black-sheep: #0f0e0e;
	--color-dementer-green: #06d001;
	--color-enoki: #f7f9f2;
	--color-foundation-white: #ebeaff;
	--color-grapefruit: #ff5249;
	--color-groovy-lemon-pie: #cdc526;
	--font-apfel-grotezk: Apfel Grotezk, sans-serif;
	--font-apfel-grotezk-brukt: Apfel Grotezk Brukt, sans-serif;
	--font-cormorant: Cormorant, serif;
	--font-evolventa: Evolventa, sans-serif;
}
